.imagem-usuario {
    width: 200px;
    height: 200px;
    border-radius: 50%; 
    display: block; 
    margin: 0 auto; 
    object-fit: cover; 
}

.minha-cor{
    background-color: #18de18;
    border-color: #18de18; 
    color: white; 
    font-weight: bold
}

h1 {
    text-align: center;
}















